/* 
Colors
Body Color      : #f5f5f5
background_color: #e8eaf6
card color      : #fafafa
Brand Colors    : #ff6e40
Text Bold       : #212121
Bold 
grey
Title           : #1e293b
                  #000
NavLinksgrey    : #64748b
heart icon      : #F44336
SignupBtn box-shadow: 2px 8px 15px #ff6d403b;
--------
Images
--------

Website Logo
https://res.cloudinary.com/bhargavvadla4b6/image/upload/v1645633658/swigyyy/assets/logo_ebleaj.png
swigyyy logo

Banner Image
https://res.cloudinary.com/bhargavvadla4b6/image/upload/v1645634129/swigyyy/assets/banner_kdmbqv.png
https://res.cloudinary.com/bhargavvadla4b6/image/upload/v1645634333/swigyyy/assets/banner1_f5j7zm.png
https://res.cloudinary.com/bhargavvadla4b6/image/upload/v1645634340/swigyyy/assets/banner2_ajbqvx.png
banner img


 */
